# Prep

In [3]:
import numpy as np
import pandas as pd

In [10]:
# load data
batting = pd.read_csv("C:/Users/z001c9v/Documents/GitHub/Python/FARCON/PYTHON_DATASCIENCE/Lahmans_Baseball_Database/2016/baseballdatabank-2017.1/core/Batting.csv")

In [13]:
batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,NaN
5,armstbo01,1871,1,FW1,NaN,12,49,9,11,2,...,5.0,0.0,1.0,0,1.0,NaN,NaN,NaN,NaN,NaN
6,barkeal01,1871,1,RC1,NaN,1,4,0,1,0,...,2.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN
7,barnero01,1871,1,BS1,NaN,31,157,66,63,10,...,34.0,11.0,6.0,13,1.0,NaN,NaN,NaN,NaN,NaN
8,barrebi01,1871,1,FW1,NaN,1,5,1,1,1,...,1.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
9,barrofr01,1871,1,BS1,NaN,18,86,13,13,2,...,11.0,1.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
10,bassjo01,1871,1,CL1,NaN,22,89,18,27,1,...,18.0,0.0,1.0,3,4.0,NaN,NaN,NaN,NaN,NaN
11,battijo01,1871,1,CL1,NaN,1,3,0,0,0,...,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN
12,bealsto01,1871,1,WS3,NaN,10,36,6,7,0,...,1.0,2.0,0.0,2,0.0,NaN,NaN,NaN,NaN,NaN
13,beaveed01,1871,1,TRO,NaN,3,15,7,6,0,...,5.0,2.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
14,bechtge01,1871,1,PH1,NaN,20,94,24,33,9,...,21.0,4.0,0.0,2,2.0,NaN,NaN,NaN,NaN,NaN
15,bellast01,1871,1,TRO,NaN,29,128,26,32,3,...,23.0,4.0,4.0,9,2.0,NaN,NaN,NaN,NaN,NaN
16,berkena01,1871,1,PH1,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,3.0,NaN,NaN,NaN,NaN,NaN
17,berryto01,1871,1,PH1,NaN,1,4,0,1,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
18,berthha01,1871,1,WS3,NaN,17,73,17,17,1,...,8.0,3.0,1.0,4,2.0,NaN,NaN,NaN,NaN,NaN
19,biermch01,1871,1,FW1,NaN,1,2,0,0,0,...,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,NaN
20,birdge01,1871,1,RC1,NaN,25,106,19,28,2,...,13.0,1.0,0.0,3,2.0,NaN,NaN,NaN,NaN,NaN
21,birdsda01,1871,1,BS1,NaN,29,152,51,46,3,...,24.0,6.0,0.0,4,4.0,NaN,NaN,NaN,NaN,NaN
22,brainas01,1871,1,WS3,NaN,30,134,24,30,4,...,21.0,4.0,0.0,7,2.0,NaN,NaN,NaN,NaN,NaN
23,brannmi01,1871,1,CH1,NaN,3,14,2,1,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
24,burrohe01,1871,1,WS3,NaN,12,63,11,15,2,...,14.0,0.0,0.0,1,1.0,NaN,NaN,NaN,NaN,NaN
25,careyto01,1871,1,FW1,NaN,19,87,16,20,2,...,10.0,5.0,0.0,2,1.0,NaN,NaN,NaN,NaN,NaN
26,carleji01,1871,1,CL1,NaN,29,127,31,32,8,...,18.0,2.0,1.0,8,3.0,NaN,NaN,NaN,NaN,NaN
27,conefr01,1871,1,BS1,NaN,19,77,17,20,3,...,16.0,12.0,1.0,8,2.0,NaN,NaN,NaN,NaN,NaN
28,connone01,1871,1,TRO,NaN,7,33,6,7,0,...,2.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN
29,cravebi01,1871,1,TRO,NaN,27,118,26,38,8,...,26.0,6.0,3.0,3,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102786,wittgni01,2016,1,MIA,NL,48,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102787,wolteto01,2016,1,COL,NL,71,205,27,53,15,...,30.0,4.0,1.0,21,53.0,2.0,0.0,4.0,0.0,1.0
102788,wongko01,2016,1,SLN,NL,121,313,39,75,7,...,23.0,7.0,0.0,34,52.0,2.0,9.0,0.0,5.0,3.0
102789,woodal02,2016,1,LAN,NL,15,16,2,4,0,...,2.0,0.0,0.0,1,9.0,0.0,0.0,2.0,0.0,0.0
102790,woodbl01,2016,1,CIN,NL,70,2,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
102791,woodtr01,2016,1,CHN,NL,81,11,0,2,0,...,1.0,0.0,0.0,1,5.0,0.0,0.0,0.0,0.0,0.0
102792,worleva01,2016,1,BAL,AL,35,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102793,worthda01,2016,1,HOU,AL,16,39,4,7,2,...,1.0,0.0,0.0,1,6.0,0.0,0.0,0.0,0.0,1.0
102794,wrighda03,2016,1,NYN,NL,37,137,18,31,8,...,14.0,3.0,2.0,26,55.0,0.0,0.0,0.0,0.0,0.0
102795,wrighda04,2016,1,CIN,NL,4,5,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
102796,wrighda04,2016,2,LAA,AL,5,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102797,wrighmi01,2016,1,BAL,AL,18,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102798,wrighst01,2016,1,BOS,AL,25,4,0,0,0,...,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0
102799,yateski01,2016,1,NYA,AL,41,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102800,yelicch01,2016,1,MIA,NL,155,578,78,172,38,...,98.0,9.0,4.0,72,138.0,4.0,4.0,0.0,5.0,20.0
102801,ynoaga01,2016,1,NYN,NL,10,3,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102802,ynoami01,2016,1,CHA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102803,ynoara01,2016,1,COL,NL,3,5,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
102804,youngch03,2016,1,KCA,AL,34,1,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102805,youngch04,2016,1,BOS,AL,76,203,29,56,18,...,24.0,4.0,2.0,21,50.0,0.0,3.0,0.0,0.0,4.0
102806,younger03,2016,1,NYA,AL,6,1,2,0,0,...,0.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102807,youngma03,2016,1,ATL,NL,8,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102808,zastrro01,2016,1,CHN,NL,8,3,0,0,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0
102809,zieglbr01,2016,1,ARI,NL,36,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102810,zieglbr01,2016,2,BOS,AL,33,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
102811,zimmejo02,2016,1,DET,AL,19,4,0,1,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0
102812,zimmery01,2016,1,WAS,NL,115,427,60,93,18,...,46.0,4.0,1.0,29,104.0,1.0,5.0,0.0,6.0,12.0
102813,zobribe01,2016,1,CHN,NL,147,523,94,142,31,...,76.0,6.0,4.0,96,82.0,6.0,4.0,4.0,4.0,17.0
102814,zuninmi01,2016,1,SEA,AL,55,164,16,34,7,...,31.0,0.0,0.0,21,65.0,0.0,6.0,0.0,1.0,0.0
102815,zychto01,2016,1,SEA,AL,12,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102816 entries, 0 to 102815
Data columns (total 22 columns):
playerID    102816 non-null object
yearID      102816 non-null int64
stint       102816 non-null int64
teamID      102816 non-null object
lgID        102079 non-null object
G           102816 non-null int64
AB          102816 non-null int64
R           102816 non-null int64
H           102816 non-null int64
2B          102816 non-null int64
3B          102816 non-null int64
HR          102816 non-null int64
RBI         102392 non-null float64
SB          101516 non-null float64
CS          79360 non-null float64
BB          102816 non-null int64
SO          94978 non-null float64
IBB         66251 non-null float64
HBP         100006 non-null float64
SH          96478 non-null float64
SF          66782 non-null float64
GIDP        76706 non-null float64
dtypes: float64(9), int64(10), object(3)
memory usage: 17.3+ MB

In [21]:
# Select columns
keep_columns_hr = ['yearID', 'HR']

In [23]:
# Filter rows
batting_2000 = batting[ batting['yearID'] >= 2000] 
batting_2000.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79250,abbotje01,2000,1,CHA,AL,80,215,31,59,15,...,29.0,2.0,1.0,21,38.0,1.0,2.0,2.0,1.0,2.0
79251,abbotku01,2000,1,NYN,NL,79,157,22,34,7,...,12.0,1.0,1.0,14,51.0,2.0,1.0,0.0,1.0,2.0
79252,abbotpa01,2000,1,SEA,AL,35,5,1,2,1,...,0.0,0.0,0.0,0,1.0,0.0,0.0,1.0,0.0,0.0
79253,abreubo01,2000,1,PHI,NL,154,576,103,182,42,...,79.0,28.0,8.0,100,116.0,9.0,1.0,0.0,3.0,12.0
79254,aceveju01,2000,1,MIL,NL,62,1,1,0,0,...,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,0.0

In [28]:
batting_2000.describe()

,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
count,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000,23566.000000
mean,2008.136340,1.087202,49.927268,119.929560,15.985827,31.293686,6.242341,0.652211,3.632903,15.220699,2.033608,0.815836,11.279640,24.380251,0.872825,1.212637,1.096410,0.961512,2.724009
std,4.925754,0.297938,45.748492,180.555737,26.804021,50.417435,10.482481,1.574536,7.478389,26.394257,5.745746,1.961574,19.996644,36.001763,2.652774,2.632586,2.288348,1.878983,4.741888
min,2000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2004.000000,1.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.000000,1.000000,33.000000,18.000000,1.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2012.000000,1.000000,73.000000,176.750000,21.000000,43.000000,8.000000,1.000000,3.000000,19.000000,1.000000,1.000000,14.000000,36.000000,0.000000,1.000000,1.000000,1.000000,4.000000
max,2016.000000,4.000000,163.000000,716.000000,152.000000,262.000000,59.000000,23.000000,73.000000,160.000000,78.000000,24.000000,232.000000,223.000000,120.000000,30.000000,24.000000,16.000000,32.000000

In [32]:
# Who had 4 stints in one year
batting_2000[batting_2000.stint == 4]

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79798,holmeda01,2000,4,ARI,NL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
80003,martida01,2000,4,TOR,AL,47,180,29,56,10,...,22.0,4.0,2.0,24,28.0,0.0,1.0,0.0,1.0,3.0
84079,micelda01,2003,4,HOU,NL,23,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
84713,bautijo02,2004,4,PIT,NL,23,40,1,8,2,...,0.0,0.0,0.0,2,18.0,0.0,0.0,1.0,0.0,1.0
89349,kimby01,2007,4,FLO,NL,9,13,0,1,0,...,0.0,0.0,0.0,1,5.0,0.0,0.0,0.0,0.0,0.0
97843,mcdonjo03,2013,4,BOS,AL,6,8,1,2,0,...,0.0,0.0,0.0,1,3.0,0.0,0.0,0.0,0.0,0.0
101383,arciaos01,2016,4,SDN,NL,14,43,2,5,1,...,4.0,0.0,0.0,2,14.0,0.0,0.0,0.0,0.0,0.0

In [33]:
batting_2000[batting_2000.playerID == "holmeda01" ]

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79795,holmeda01,2000,1,ARI,NL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
79796,holmeda01,2000,2,SLN,NL,5,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
79797,holmeda01,2000,3,BAL,AL,5,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
79798,holmeda01,2000,4,ARI,NL,4,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
82501,holmeda01,2002,1,ATL,NL,55,2,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
83839,holmeda01,2003,1,ATL,NL,48,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
# Select columns
hr_year = batting_2000[keep_columns_hr]
hr_year.head()
hr_year.tail()

        yearID  HR
102811    2016   0
102812    2016  15
102813    2016  18
102814    2016  12
102815    2016   0