In [1]:
import pyodbc 
import pandas as pd
from io import StringIO

In [7]:
connection = pyodbc.connect('DSN=TDPRODA;UID=Z001C9V;PWD=EDABI$2017')
cursor = connection.cursor()
cursor.execute("select top 10 * from PRODRPT_V.CAL_DATE_DIM_V WHERE ACCT_YR_I = 2017 ORDER BY GREG_D")
results = cursor.fetchall()
print(results)
connection.close()

[(datetime.date(2017, 1, 29), 2017029, 'Sunday   ', 29, 1, 29, 29, 5, 'Jan Week 5', 5, 'Jan Week 5', 5, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, 1, 'January', 'Jan  ', datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 1, 31), 2017031, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6239, 1, 1, 1, 1, 2975, 1, 'Week 1', 1, 'Feb Week 1', 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4), '2017 Feb WK 1', '2017 1  WK 1', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 1, 31), datetime.date(2016, 2, 6), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 1', '2017 2 WK 1', '2017 Feb', '2017 2', datetime.date(2017, 1, 15), datetime.date(2016, 12, 31), datetime.date(2017, 1, 22), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 1, 28), datetime.date(2016, 1, 3), -29, 0, 0, 0, 0, 1, datetime.date(2016, 2, 6), 1, 2016, datetime.date(2017, 8, 23), -206, datetime.date(2017, 1, 22), datetime.date(2017, 1, 28)), (datetime.date(2017, 1, 30), 2017030, 'Monday   ', 30, 2, 30, 30, 5, 'Jan Week 5', 5, 'Jan Week 5', 5, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, 1, 'January', 'Jan  ', datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 1, 31), 2017031, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6240, 2, 2, 2, 2, 2975, 1, 'Week 1', 1, 'Feb Week 1', 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4), '2017 Feb WK 1', '2017 1  WK 1', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 1), datetime.date(2016, 2, 6), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 1', '2017 2 WK 1', '2017 Feb', '2017 2', datetime.date(2017, 1, 16), datetime.date(2016, 12, 31), datetime.date(2017, 1, 22), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 1, 29), datetime.date(2016, 1, 3), -29, 0, 0, 0, 0, 1, datetime.date(2016, 2, 6), 1, 2016, datetime.date(2017, 8, 23), -205, datetime.date(2017, 1, 23), datetime.date(2017, 1, 28)), (datetime.date(2017, 1, 31), 2017031, 'Tuesday  ', 31, 3, 31, 31, 5, 'Jan Week 5', 5, 'Jan Week 5', 5, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, 1, 'January', 'Jan  ', datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 1, 31), 2017031, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6241, 3, 3, 3, 3, 2975, 1, 'Week 1', 1, 'Feb Week 1', 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4), '2017 Feb WK 1', '2017 1  WK 1', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 2), datetime.date(2016, 2, 6), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 1', '2017 2 WK 1', '2017 Feb', '2017 2', datetime.date(2017, 1, 17), datetime.date(2016, 12, 31), datetime.date(2017, 1, 22), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 1, 30), datetime.date(2016, 1, 3), -29, 0, 0, 0, 0, 1, datetime.date(2016, 2, 6), 1, 2016, datetime.date(2017, 8, 23), -204, datetime.date(2017, 1, 24), datetime.date(2017, 1, 28)), (datetime.date(2017, 2, 1), 2017032, 'Wednesday', 32, 4, 1, 32, 5, 'Jan Week 5', 5, 'Jan Week 5', 5, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6242, 4, 4, 4, 4, 2975, 1, 'Week 1', 1, 'Feb Week 1', 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4), '2017 Feb WK 1', '2017 1  WK 1', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 3), datetime.date(2016, 2, 6), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 1', '2017 2 WK 1', '2017 Feb', '2017 2', datetime.date(2017, 1, 18), datetime.date(2016, 12, 31), datetime.date(2017, 1, 22), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 1, 31), datetime.date(2016, 1, 3), -29, 0, 0, 0, 0, 1, datetime.date(2016, 2, 6), 1, 2016, datetime.date(2017, 8, 23), -203, datetime.date(2017, 1, 25), datetime.date(2017, 1, 28)), (datetime.date(2017, 2, 2), 2017033, 'Thursday ', 33, 5, 2, 33, 5, 'Jan Week 5', 5, 'Jan Week 5', 5, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6243, 5, 5, 5, 5, 2975, 1, 'Week 1', 1, 'Feb Week 1', 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4), '2017 Feb WK 1', '2017 1  WK 1', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 4), datetime.date(2016, 2, 6), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 1', '2017 2 WK 1', '2017 Feb', '2017 2', datetime.date(2017, 1, 19), datetime.date(2016, 12, 31), datetime.date(2017, 1, 22), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 2, 1), datetime.date(2016, 1, 3), -29, 0, 0, 0, 0, 1, datetime.date(2016, 2, 6), 1, 2016, datetime.date(2017, 8, 23), -202, datetime.date(2017, 1, 26), datetime.date(2017, 1, 28)), (datetime.date(2017, 2, 3), 2017034, 'Friday   ', 34, 6, 3, 34, 5, 'Jan Week 5', 5, 'Jan Week 5', 5, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6244, 6, 6, 6, 6, 2975, 1, 'Week 1', 1, 'Feb Week 1', 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4), '2017 Feb WK 1', '2017 1  WK 1', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 5), datetime.date(2016, 2, 6), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 1', '2017 2 WK 1', '2017 Feb', '2017 2', datetime.date(2017, 1, 20), datetime.date(2016, 12, 31), datetime.date(2017, 1, 22), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 2, 2), datetime.date(2016, 1, 3), -29, 0, 0, 0, 0, 1, datetime.date(2016, 2, 6), 1, 2016, datetime.date(2017, 8, 23), -201, datetime.date(2017, 1, 27), datetime.date(2017, 1, 28)), (datetime.date(2017, 2, 4), 2017035, 'Saturday ', 35, 7, 4, 35, 5, 'Jan Week 5', 5, 'Jan Week 5', 5, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6245, 7, 7, 7, 7, 2975, 1, 'Week 1', 1, 'Feb Week 1', 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 4), 2017035, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4), '2017 Feb WK 1', '2017 1  WK 1', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 6), datetime.date(2016, 2, 6), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 1', '2017 2 WK 1', '2017 Feb', '2017 2', datetime.date(2017, 1, 21), datetime.date(2016, 12, 31), datetime.date(2017, 1, 22), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 2, 3), datetime.date(2016, 1, 3), -29, 0, 0, 0, 0, 1, datetime.date(2016, 2, 6), 1, 2016, datetime.date(2017, 8, 23), -200, datetime.date(2017, 1, 28), datetime.date(2017, 1, 28)), (datetime.date(2017, 2, 5), 2017036, 'Sunday   ', 36, 1, 5, 36, 6, 'Feb Week 6', 1, 'Feb Week 1', 6, datetime.date(2017, 2, 5), 2017036, datetime.date(2017, 2, 11), 2017042, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6246, 8, 1, 8, 8, 2976, 2, 'Week 2', 2, 'Feb Week 2', 2, datetime.date(2017, 2, 5), 2017036, datetime.date(2017, 2, 11), 2017042, datetime.date(2017, 2, 5), datetime.date(2017, 2, 11), '2017 Feb WK 2', '2017 1  WK 2', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 7), datetime.date(2016, 2, 13), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 2', '2017 2 WK 2', '2017 Feb', '2017 2', datetime.date(2017, 1, 22), datetime.date(2017, 1, 7), datetime.date(2017, 1, 29), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 2, 4), datetime.date(2016, 1, 31), -28, 0, 0, 0, 0, 1, datetime.date(2016, 2, 13), 2, 2016, datetime.date(2017, 8, 23), -199, datetime.date(2017, 1, 29), datetime.date(2017, 2, 4)), (datetime.date(2017, 2, 6), 2017037, 'Monday   ', 37, 2, 6, 37, 6, 'Feb Week 6', 1, 'Feb Week 1', 6, datetime.date(2017, 2, 5), 2017036, datetime.date(2017, 2, 11), 2017042, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6247, 9, 2, 9, 9, 2976, 2, 'Week 2', 2, 'Feb Week 2', 2, datetime.date(2017, 2, 5), 2017036, datetime.date(2017, 2, 11), 2017042, datetime.date(2017, 2, 5), datetime.date(2017, 2, 11), '2017 Feb WK 2', '2017 1  WK 2', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 8), datetime.date(2016, 2, 13), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 2', '2017 2 WK 2', '2017 Feb', '2017 2', datetime.date(2017, 1, 23), datetime.date(2017, 1, 7), datetime.date(2017, 1, 29), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 2, 5), datetime.date(2016, 1, 31), -28, 0, 0, 0, 0, 1, datetime.date(2016, 2, 13), 2, 2016, datetime.date(2017, 8, 23), -198, datetime.date(2017, 1, 30), datetime.date(2017, 2, 4)), (datetime.date(2017, 2, 7), 2017038, 'Tuesday  ', 38, 3, 7, 38, 6, 'Feb Week 6', 1, 'Feb Week 1', 6, datetime.date(2017, 2, 5), 2017036, datetime.date(2017, 2, 11), 2017042, 2, 'February', 'Feb  ', datetime.date(2017, 2, 1), 2017032, datetime.date(2017, 2, 28), 2017059, 2017, 2017, datetime.date(2017, 1, 1), 2017001, datetime.date(2017, 12, 31), 2017365, 2017, 6248, 10, 3, 10, 10, 2976, 2, 'Week 2', 2, 'Feb Week 2', 2, datetime.date(2017, 2, 5), 2017036, datetime.date(2017, 2, 11), 2017042, datetime.date(2017, 2, 5), datetime.date(2017, 2, 11), '2017 Feb WK 2', '2017 1  WK 2', 685, 1, 'February  ', 'Feb  ', 4, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 2, 25), 2017056, '2017  Feb', '2017  1', 229, 1, 13, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 4, 29), 2017119, '2017   Q 1', 115, 1, datetime.date(2017, 1, 29), 2017029, datetime.date(2017, 7, 29), 2017210, '2017   Spring', 2017, 53, datetime.date(2017, 1, 29), 2017029, datetime.date(2018, 2, 3), 2018034, datetime.date(2016, 2, 9), datetime.date(2016, 2, 13), datetime.date(2016, 2, 27), datetime.date(2016, 4, 30), datetime.date(2016, 7, 30), datetime.date(2017, 1, 28), 2016, '2017 Feb WK 2', '2017 2 WK 2', '2017 Feb', '2017 2', datetime.date(2017, 1, 24), datetime.date(2017, 1, 7), datetime.date(2017, 1, 29), datetime.date(2017, 1, 1), datetime.date(2016, 10, 30), datetime.date(2016, 7, 31), datetime.date(2016, 1, 31), datetime.date(2017, 2, 6), datetime.date(2016, 1, 31), -28, 0, 0, 0, 0, 1, datetime.date(2016, 2, 13), 2, 2016, datetime.date(2017, 8, 23), -197, datetime.date(2017, 1, 31), datetime.date(2017, 2, 4))]

In [3]:
type(results)

list

In [8]:
# read in a list
DF_TEST = pd.DataFrame.from_records(results ) # , columns=labels

In [9]:
DF_TEST

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,2017-01-29,2017029,Sunday,29,1,29,29,5,Jan Week 5,5,...,0,0,1,2016-02-06,1,2016,2017-08-23,-206,2017-01-22,2017-01-28
1,2017-01-30,2017030,Monday,30,2,30,30,5,Jan Week 5,5,...,0,0,1,2016-02-06,1,2016,2017-08-23,-205,2017-01-23,2017-01-28
2,2017-01-31,2017031,Tuesday,31,3,31,31,5,Jan Week 5,5,...,0,0,1,2016-02-06,1,2016,2017-08-23,-204,2017-01-24,2017-01-28
3,2017-02-01,2017032,Wednesday,32,4,1,32,5,Jan Week 5,5,...,0,0,1,2016-02-06,1,2016,2017-08-23,-203,2017-01-25,2017-01-28
4,2017-02-02,2017033,Thursday,33,5,2,33,5,Jan Week 5,5,...,0,0,1,2016-02-06,1,2016,2017-08-23,-202,2017-01-26,2017-01-28
5,2017-02-03,2017034,Friday,34,6,3,34,5,Jan Week 5,5,...,0,0,1,2016-02-06,1,2016,2017-08-23,-201,2017-01-27,2017-01-28
6,2017-02-04,2017035,Saturday,35,7,4,35,5,Jan Week 5,5,...,0,0,1,2016-02-06,1,2016,2017-08-23,-200,2017-01-28,2017-01-28
7,2017-02-05,2017036,Sunday,36,1,5,36,6,Feb Week 6,1,...,0,0,1,2016-02-13,2,2016,2017-08-23,-199,2017-01-29,2017-02-04
8,2017-02-06,2017037,Monday,37,2,6,37,6,Feb Week 6,1,...,0,0,1,2016-02-13,2,2016,2017-08-23,-198,2017-01-30,2017-02-04
9,2017-02-07,2017038,Tuesday,38,3,7,38,6,Feb Week 6,1,...,0,0,1,2016-02-13,2,2016,2017-08-23,-197,2017-01-31,2017-02-04

In [6]:
DF_TEST.describe()

,1,3,4,5,6,7,9,11,13,15,...,87,101,102,103,104,105,106,108,109,111
count,1.000000e+01,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000e+01,1.000000e+01,...,10.0,10.000000,10.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.000000
mean,2.017218e+06,217.500000,3.300000,17.800000,217.500000,31.600000,3.400000,31.600000,2.017215e+06,2.017221e+06,...,2016.0,-2.400000,0.0,0.200000,0.200000,0.200000,0.600000,27.900000,2016.0,-17.500000
std,8.429479e+01,84.294787,1.418136,12.053584,84.294787,12.038826,1.349897,12.038826,8.427178e+01,8.427178e+01,...,0.0,12.038826,0.0,0.421637,0.421637,0.421637,0.516398,11.551335,0.0,84.294787
min,2.017086e+06,86.000000,1.000000,1.000000,86.000000,13.000000,1.000000,13.000000,2.017085e+06,2.017091e+06,...,2016.0,-21.000000,0.0,0.000000,0.000000,0.000000,0.000000,12.000000,2016.0,-149.000000
25%,2.017151e+06,151.250000,2.000000,5.250000,151.250000,22.000000,3.250000,22.000000,2.017148e+06,2.017154e+06,...,2016.0,-12.000000,0.0,0.000000,0.000000,0.000000,0.000000,18.000000,2016.0,-83.750000
50%,2.017218e+06,218.000000,4.000000,23.500000,218.000000,31.500000,4.000000,31.500000,2.017214e+06,2.017220e+06,...,2016.0,-2.500000,0.0,0.000000,0.000000,0.000000,1.000000,27.500000,2016.0,-17.000000
75%,2.017283e+06,283.250000,4.000000,27.000000,283.250000,41.000000,4.000000,41.000000,2.017281e+06,2.017287e+06,...,2016.0,7.000000,0.0,0.000000,0.000000,0.000000,1.000000,37.000000,2016.0,48.250000
max,2.017338e+06,338.000000,5.000000,31.000000,338.000000,49.000000,5.000000,49.000000,2.017337e+06,2.017343e+06,...,2016.0,15.000000,0.0,1.000000,1.000000,1.000000,1.000000,45.000000,2016.0,103.000000